@import url(../global_styles.css);

*{
    padding: 0;
    margin: 0;
    text-decoration: 0;
    box-sizing: border-box;
    font-family: var(--body-font-family);
    color: white;
}

body {
    background-color: #2B3A41;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back {
    background-color: transparent;
    border: none;
    text-align: left;
    margin: 1rem 2rem;
    font-size: var(--title-font-family);
    cursor: pointer;
}

.back:hover {
    color: #BB946E;
}

h1{
    text-align: center;
    margin: 1rem 0;
    font-family: var(--title-font-family);
    font-size: var(--heading-font-1);
}

h2{
    text-align: center;
    margin: 1rem 0;
    font-family: var(--title-font-family);
    font-size: var(--heading-font-2);
}

.information-container{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #1E292E;
    margin-bottom: 3rem;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--body-font);
}

.icon-info{

}

.second-container{
    display: flex;
    width: 80%;
    margin-bottom: 3rem;
}

.left{
    width: 30%;
    height: 50vh;
    background-color: #1E292E;
    margin-right: 3rem;
}

.right{
    width: 70%;
    height: 50vh;
    background-color: #1E292E;
}

.pay-method{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text{
    width: 100%;
    font-family: 'Inria Sans', sans-serif;
    font-size: var(--body-font);
    margin: 1.5rem 2rem;
    font-weight: 400;
}

.card-pay{
    margin-top: 1rem;
    display: flex;
    width: 25%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.card-pay img{
    width: 100%;
}

.pay-info{
    margin: .5rem 0;
    font-size: var(--heading-font-2);
}