@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:wght@300;400;700&display=swap");

:root {
    --primary-color: #265a5b;
    --accent-color-1: #bb946e;
    --accent-color-2: #2b3a41;
    --accent-color-3: #1e292e;
    --accent-color-4: #1b3f40;
    --neutral-color: #ffffff;

    --hero-font: 52px;
    --heading-font-1: 30px;
    --heading-font-2: 24px;
    --heading-font-3: 22px;
    --heading-font-4: 18px;
    --body-font: 16px;

    --title-font-family: "Inria Serif", serif;
    --body-font-family: "Roboto", sans-serif;

    --font-letter-spacing: 1px;
}

h1 {
    font-family: var(--title-font-family);
    font-size: var(--heading-font-1);
}
h2 {
    font-size: var(--heading-font-2);
}
h3 {
    font-size: var(--heading-font-3);
}
h4 {
    font-size: var(--heading-font-4);
}
div,
p {
    font-size: var(--body-font);
    color: white;
    font-family: var(--body-font-family);
    letter-spacing: var(--font-letter-spacing);
    font-weight: 300;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.btn {
    background-color: var(--accent-color-1);
    border: none;
    color: var(--neutral-color);
    width: 130px;
    height: 40px;
    cursor: pointer;
}

.btn:hover {
    background-color: #000046;
}

.link {
    color: #abc5ff;
}

.title {
    font-family: var(--title-font-family);
    color: var(--neutral-color);
    font-size: var(--heading-font-1);
    text-align: center;
}

.desc {
    font-family: var(--body-font-family);
    color: var(--neutral-color);
    font-weight: 300;
    letter-spacing: var(--font-letter-spacing);
}

.back {
    fill: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    margin-left: 20px;
}

.back:hover {
    fill: #ffffff;
}

.error {
    background-color: #a94442;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: 700;
}
