@import url(../global_styles.css);

body {
  color: white;
}

.log-in-title {
  text-align : left;
  margin-bottom : 20px;
}

.log-in-desc {
  margin-bottom : 15px;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
}

.left {
  left: 0;
  background-color: #2b3a41;
}

.right {
  right: 0;
  background-color: #265a5b;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 70%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
}

.centered > p {
  margin-top: 40px;
  font-size: var(--heading-font-4);
}

.centered1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered img {
  width: 150px;
}

form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form ul {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

#check {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#check label {
  padding: 0 5px;
}

#check input {
  width: 15px;
  height: 15px;
}

form ul li {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-bottom: 5px;
}

form ul li label {
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
}

form ul li input {
  height: 30px;
  background-color: #e7e7e7;
  border: none;
  box-sizing: border-box;
  padding: 0 10px;
  border-radius: 6px;
}

form ul li button {
  height: 40px;
  color: white;
  font-weight: bold;
  background-color: #bb946e;
  border: none;
  margin-top: 20px;
  border-radius: 6px;
}

form ul li button:hover {
  cursor: pointer;
  background-color: #000046;
}

#wrong {
  color: red;
  font-size: 8px;
}

.wrong {
  color: red;
}

.error {
  background-color : #A94442;
  color : white;
  padding : 10px;
  border-radius : 5px;
  font-weight : 700;
}