@import "../global_styles.css";
@import "../Navbar/navbar.css";

/* main */
main {
    background-color: var(--accent-color-2);
    min-height: 2200px;
}

.quote {
    min-height : 400px;
    display : flex;
    justify-content: center;
}

.quote-container {
    width : 50%;
    height : inherit;
    display : flex;
    flex-direction : column;
    justify-content : center;
}

.quote-title {
    margin-bottom : 50px;
}

.quote-desc {
    text-align : center;
}

.main-bistecca-logo {
    margin : 0 auto;
    display : block;
    width : 500px;
}


.history-container,
.operating-container
{
    display : flex;
}

.ingredients-container {
    display : flex;
    flex-direction : row-reverse;
}

.main-container {
    min-height : 1200px;
}

.main-inner-container {
    min-height : inherit;
    display : flex;
    flex-direction : column;
    justify-content : space-around;
}

.main-title {
    text-align : left;
    margin-bottom : 20px;
}

.main-desc {
    text-align : justify;
}

.main-caption {
    flex-basis : 60%;
}

.main-image {
    flex-basis : 40%;
}

.main-image img {
    width : 100%;
    box-shadow : 5px 5px 10px rgba(0,0,0,.5);
}

.right-image {
    margin-left : 50px;
}

.left-image {
    margin-right : 50px;
}


/* footer */
footer {
    background-color : var(--primary-color);
    min-height : 350px;
}
.footer-container {
    width : 100%;
    display : flex;
    align-items : center;
    justify-content : center;
}
.footer-inner-container {
    min-height : 250px;
    width : 100%;
    display : flex;
    justify-content : space-around;
}

.footer-logo-sosmed{
    flex-basis : 20%;
    margin-right : 50px;
}

.footer-sosmed-title {
    margin-bottom : 10px;
}

.footer-logo {
    margin-bottom : 30px;
}

.footer-logo img {
    width : 100%;
}

.footer-menu li:not(.footer-title),
.footer-support li:not(.footer-title) {
    margin : 10px 0;
}

.footer-title {
    font-size : var(--heading-font-4);
    font-weight : 700;
    margin-bottom : 20px;
    margin-top : 25px;
}

.footer-address-operational {
    flex-basis : 40%;
}

.footer-sosmed div:last-child{
    display : flex;
    justify-content : space-between;
    width : 50%;
}

.footer-sosmed div:last-child svg {
    width : 30px;
}

.footer-menu,
.footer-support 
{
    flex-basis : 20%;
}

.footer-copyright {
    background-color : var(--accent-color-3);
    font-weight : 300;
    min-height : 30px;
    display : flex;
    align-items : center;
    justify-content : center;
}
